
---
import SEO from '../components/SEO.astro';
import content from "../data/content.json"

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;

import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />

    <meta name="theme-color" content="#0a0a0a">

    <title>{title || content.seo.title}</title>

    <SEO
      title={title}
      description={description}
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;600&family=JetBrains+Mono:wght@400;500&display=swap"
      rel="stylesheet">
	</head>
	<body>
    <slot />
	</body>
</html>
